<%= stylesheet_link_tag 'clients', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1>Clients</h1>

<table>
    <thead>
        <tr>
        <th class="table-border">id</th>
        <th class="table-border">name</th>
        <th class="table-border">email</th>
        <th class="table-border">phone</th>
        </tr>
    </thead>
    <tbody>
        <% @client.each do |c| %>
            <tr>
                <td class="table-border"><%= c.id %></td>
                <td class="table-border"><%= c.name %></td>
                <td class="table-border"><%= c.email %></td>
                <td class="table-border"><%= c.phone %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= link_to "New Customer", new_client_path %>