<%= stylesheet_link_tag 'customers', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1>customers</h1>


<% @customer.each do |c| %>
    <div onclick="window.location.href=('/customers/<%= @customer.ids %>')">
        <a href="/customers/<%= @customer.ids %>">
            <%= c.id %><br>
        </a>
            <%= c.name %><br>
            <%= c.email %><br>
            <%= c.phone %><br>
        
    </div>
<% end %>
    


<%= link_to "New Customer", new_customer_path %>