<%= stylesheet_link_tag 'customers', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1>customers</h1>

<div>
<%= link_to "New Customer", new_customer_path %><br>
</div>


<% @customer.each do |c| %>
        <a href="/customers/<%= c.id %>">
            <%= c.id %><br>
        <%= c.name %><br>
        <%= c.email %><br>
        <%= c.phone %><br>
        </a>
<% end %>
    


