<h1>Items</h1>

<% @item.each do |i| %>
    <a href="/items/<%= i.id %>">
        <%= i.id %>
        <%= i.name %><br>
        <%= i.stock %><br><br>
    </a>
<% end %>

<br><%= link_to "New item", new_item_path %>
<h3><%= link_to "home", root_path %></h3>

