<h1>Item: <%= @item.name %> </h1>

<h1>Stock: <%= @item.stock %> </h1>

<%= link_to "edit", edit_item_path %> <br>
<%= link_to "delete", item_path(@item), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure you want to delete this item? This action will be irreversible."
                }%><br>
<%= link_to "items", items_path %> <br>
